{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
<p>
    <a class="btn btn-primary " href="/search_dish">Найти блюдо</a>
</p>
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить новость</a>
{% endif %}
</div>
{% endfor %}
{% endblock %}